@font-face {
    font-family: "FairyMuffinRoundPop";
    src: url('../fonts/Fairymuffinroundpop.ttf') format(truetype);
}
@font-face {
    font-family: "Kyiv Type Sans";
    src: url('../fonts/KyivTypeSans-VarGX.ttf') format(truetype);
}